[submodule "source/libstratosphere"]
	path = source/libstratosphere
	url = https://github.com/Atmosphere-NX/Atmosphere-libs.git
[submodule "source/libnx"]
	path = source/libnx
	url = https://github.com/switchbrew/libnx.git
